absl-py==0.11.0
astor==0.8.1
cached-property==1.5.2
comtypes==1.1.7
gast==0.4.0
grpcio==1.33.2
h5py==2.10.0
importlib-metadata==2.0.0
joblib==0.17.0
Keras==2.1.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.3
mock==4.0.2
numpy==1.19.3
opencv-python==4.4.0.46
protobuf==3.13.0
pypiwin32==223
pyttsx3==2.90
pywin32==228
PyYAML==5.3.1
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
sklearn==0.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
threadpoolctl==2.1.0
Werkzeug==1.0.1
zipp==3.4.0
